<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5>产品名称:<h5>
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <h5>产品描述:<h5>
    <%= f.text_area :product_description %>
  </div>

      <div><%= f.collection_select(:product_type_id, ProductType.all, :id, :product_type_name) %></div>
  
   </br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
